# Ignore the virtual environment folder
venv/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore IDE specific files (if using an IDE like PyCharm or VSCode)
.idea/
.vscode/

# Ignore macOS specific files
.DS_Store

# Ignore Windows specific files
Thumbs.db

# Ignore any log files
*.log
